.navbar-brand .logo-text {
  font-family: 'Open Sans', sans-serif;
  font-size: 25px;
  font-weight: Bold;
  color: white;
  margin-left: 10px;
}

.navbar .navbar-toggler {
  color: white !important; 
}

.navbar .navbar-toggler:focus{
  color: #ff4444;
  }

.navbar-nav .nav-link {
  color: white !important; 
}

.navbar-nav .nav-link:hover {
  color: #ccc !important; 
}