<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nearby Open Restaurants!</title>
</head>
<body>
    <h1>Nearby Open Restaurants</h1>
    <ul>
        {% for restaurant in restaurants %}
        <li>
            <strong>{{ restaurant.name }}</strong><br>
            Address: {{ restaurant.vicinity }}<br>
            Rating: {{ restaurant.rating }}<br>
            {% if restaurant.open_now %}
                <strong>Open Now</strong><br>
            {% else %}
                <strong>Closed Now</strong><br>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
</body>
</html>
