<!DOCTYPE html>
<!--Ahhhh, my first time using the Google Places API. When I first made this, I was unsure if I could even pull off this project with not alot of experience
 with react and api calls. But I did it! Learned alot, very happy to have made this product! Cheers to many more-->
<html lang="en">
<head></head>
    <meta charset="UTF-8">
    <title>Nearby Open Restaurants!</title>
</head>
<body>
    <h1>Nearby Open Restaurants</h1>
    <ul>
        {% for restaurant in restaurants %}
        <li>
            <strong>{{ restaurant.name }}</strong><br>
            Address: {{ restaurant.vicinity }}<br>
            Rating: {{ restaurant.rating }}<br>
            {% if restaurant.open_now %}
                <strong>Open Now</strong><br>
            {% else %}
                <strong>Closed Now</strong><br>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
</body>
</html>
